/* reset */
* {
  padding: 0;
  margin: 0;
  border: none;
}

BODY {
  font-family: sans-serif;
}

/* vote */
.vote_cat__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.vote_cat__img__container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #303e52;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.vote_cat__img__container:hover .vote_cat__hover {
  background: #303e52;
  opacity: .7;
}

.vote_cat__hover {
  position: absolute;
  width: 300px;
  height: 300px;
  top:0;
  left: 0;
  opacity: 0;
  transition: opacity .2s;
  font-size: 20px;
  text-align: center;
  line-height: 300px;
  color: #F3F5F7;
}

.vote_cat__img {
  margin: -40px 0 0 -40px;
  width: 400px;
  height: 400px;
  background-size: cover;
}
.vote_cat__thx {
  font-size: 22px;
  width: 320px;
  text-align: center;
  transition: opacity .1s;
  opacity: 0;
  color: #f0616f;
}

.vote_cat__thx--active {
  opacity: 1;
}

.vote_page__text {
  font-size: 34px;
  color: #303e52;
  text-align: center;
  margin: 100px;
}

.imp {
  color: #718af4;
}

.toggle_page {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 200px;
  height: 80px;
  width: 300px;
  font-size: 22px;
  background-color: #323638;
  color: #F3F5F7;
}

.toggle_page:hover {
  background: #F3F5F7;
  color: #303e52;
}

/* rank */
.rank__top {
  display: flex;
  justify-content: space-around;
}

.rank_cat__elo {
  font-weight: bold;
  color: #303e52;
}

.rank_cat__image {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.rank__bottom__container {
  width: 100%;
  margin-top: 150px;
  overflow-x: scroll;
}

.rank_cat__podium {
  width: 200px;
  background: #F3F5F7;
}

.rank_cat__podium__position {
  color: #303e52;
  text-align: center;
  margin-top: -44px;
}

/* loading */
.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(255, 255, 255, .45);
}

.loading_cat {
  width: 200px;
  height: 200px;
  margin-left: calc(50vw - 100px);
  margin-top: calc(50vh - 100px);
  background-image: url("/assets/images/lg.blue-longcat-spinner.gif");
  background-size: 200px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 4px;
  text-align: center;
  width: 100%;
  color: #576374;
}

@media (max-width: 1100px) {
  .footer {
    display: none;
  }

  .toggle_page {
    top: auto;
    bottom: 0;
    width: 100%;
  }
}